<nav>
        <a href="{% url 'home' %}">Inicio</a>

        {% if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}">Dashboard</a>
            

            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Salir</button>
            </form>

            <span>Hola, {{ request.user.username }}</span>
        {% else %}
            <a href="{% url 'register' %}">Registro</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>