<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tipo de cuenta a crear</title>
  <link rel="stylesheet" href="../static/css/styles.css" />

</head>

<body>

<!-- Mensaje de error -->
{% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}

  <main class="welcome-section">
    <h1>Tipo de cuenta</h1>
    <p>Escoja el tipo de cuenta que desea crear.</p>

    <div class="role-cards">

      <a href="{% url 'datosCliente' %}" class="card">
        <div class="placeholder-image"></div>
        <h2>Cliente</h2>
        <p>Soy un cliente y deseo comprar en la aplicación.</p>
      </a>

      <a href="{% url 'datosRestaurante' %}" class="card">
        <div class="placeholder-image"></div>
        <h2>Restaurante</h2>
        <p>Soy representante de un restaurante y deseo vender con la aplicación.</p>
      </a>

      <a href="{% url 'datosRepartidor' %}" class="card">
        <div class="placeholder-image"></div>
        <h2>Repartidor</h2>
        <p>Quiero trabajar en 3C como repartidor.</p>
      </div>

    </div>

    <a href="{% url 'sitioPrincipal_3C' %}" class="btn-cancelar">
      Cancelar
    </a>

  </main>

  <script src="../static/js/crearCuenta.js"></script>

</body>

</html>
