<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bienvenido a 3C</title>
  <link rel="stylesheet" href="static/css/styles.css" />

</head>
<body>
  <main class="welcome-section">
    <h1>Bienvenido a 3C</h1>
    <p>Conectamos clientes, restaurantes y repartidores.</p>

    <div class="role-cards">
      <div class="card">
        <div class="placeholder-image"></div>
        <h2>Cliente</h2>
        <p>Descubre y pide a tu restaurante favorito.</p>
      </div>
      <div class="card">
        <div class="placeholder-image"></div>
        <h2>Restaurante</h2>
        <p>Amplía tu alcance y recibe pedidos en línea.</p>
      </div>
      <div class="card">
        <div class="placeholder-image"></div>
        <h2>Repartidor</h2>
        <p>Amplía tu alcance y recibe pedidos en línea.</p>
      </div>
      <div class>

            </body>

</html>
