<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Clima</title>
<link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
<!--  -->
<div class="header">
    <p style="font-size:56px">DeClima</p>
    <p style="font-size:28px">El tiempo está contigo</p>
</div>

<div class="main">
    <div class="section" id="PanelBusqueda"></div>
    <div class="section" id="Resultados"></div>
</div>

<p id="status"></p>     <!--Mensaje para estado/errores-->

<div class="section">
<div class="form">
<label></label>
<input id="cityInput" name="city"></input>
<input id="latInput" name="latitude"></input>
<input id="lonInput" name="longitued"></input>
<button type="submit" id="btnSearchByName">Buscar por nombre</button>
<button type="submit" id="btnSearchByLatLon">Buscar por coordenadas</button>
</div>
<div class="article" id="card" hidden="hidden">
<p id="place"></p>
<p id="icon"></p>
<p id="desc"></p>
<p id="temp"></p>
<p id="feels"></p>
<p id="humidity"></p>
<p id="wind"></p>
</div>
</div>



<br></br>

<!-- Pie de página -->
<div class="footer" style="font-family:'Cinema St Regular';font-weight:normal;font-size:20px">
    <br>Aqui va un texto</br>
</div>


</body>

</html>
